@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import "../components/playgame/playGame.css";
.containercards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardImage {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.sectionClass {
    width: 280px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.usedCard {
    opacity: 0.2;
}

.translationClass {
    font-family: 'Oswald', sans-serif;
}

.playButtonClass {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #1d0303;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #3b0e0e;
    text-align: center;
    transition: all 0.15s;
    cursor: pointer;
}

.playButtonClass:hover {
    color: #0d2461;
    border-color: #DDDDDD;
}

.playButtonClass:active {
    color: #BBBBBB;
    border-color: #BBBBBB;
}

.playButtonRepeatClass {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #c22121;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #6b791e;
    text-align: center;
    transition: all 0.15s;
    cursor: pointer;
    border-radius: 30px;
}