@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.containercards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    height: auto;
}

.cardImage {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.sectionClass {
    width: 280px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.translationClass {
    font-family: 'Oswald', sans-serif;    
}